@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-group button {
        background-color: white;
        border: 1px solid whitesmoke;
        color: black;
        padding: 10px 24px;
        cursor: pointer;
        display: block;
        width: 250px;
        font-family: 'Century Gothic';
    }
    .btn-group button:hover {
            background-color: whitesmoke;
    }
    #botao {
        background-color: white;
        font-family: 'Century Gothic';
        border-radius: 8px;
        border: 2px solid #ff01f2;
        padding-right: 1em;
        padding-left: 1em;
        color: black;
        display: block;
        width: 175px;
    }
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid grey;
        border-radius: 4px;
    }

    input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
        border: 1px solid grey;
        border-radius: 4px;
    }
</style>

<body>
    <div class="text-center" style="color:black; font-family: 'Century Gothic'; background-color:whitesmoke; padding-top: 1em; padding-bottom: 1em; margin-bottom: 20px;">
        <p style="font-size: 40px; "><b><span>ÁREA CLIENTE</span></b></p>
        <p style="font-size: 20px; "><span>Bem-vindo à sua área de cliente, <b>@User.Claims.ElementAt(1).Value</b>!</span></p>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom: 2em;">
            <div class="btn-group">
                <div class="col-md-3">
                    <a asp-action="DadosPessoais"><button style="background-color:whitesmoke"><b>Dados Pessoais</b></button></a>
                    <a asp-action="MinhasEncomendas"><button><b>Minhas Encomendas</b></button></a>
                    <button><b>Meus Produtos</b></button>
                    <button><b>Meus Favoritos</b></button>
                    <button><b>Meus Comentários</b></button>
                    <button><b>Minhas Mensagens</b></button>
                    <button><b>Minhas Avaliações</b></button>
                    <a asp-action="Logout"><button style="color:red" ;><b>Terminar Sessão</b></button></a>
                </div>
            </div>
            <div class="col-md-9" style="border: 1px solid whitesmoke; padding-bottom:1em">
                <div class="row" style="font-size: 20px; text-align: center">
                    <div class="col-md-12">
                        <center>
                            <p style="font-size: 20px;"><span><b>Editar Perfil</b></span></p>
                        </center>
                    </div>
                </div>
                <div class="row" style="font-family: 'Century Gothic'">
                    <div class="col-md-3">

                    </div>
                    <div class="col-md-6">
                        <form method="post">
                            <div>
                                <br>
                                <label for="nome"><b>Nome </b></label>
                                <input type="text" name="nome" placeholder="Nome">
                                <!-- <span asp-validation-for="passwordReg" class="text-danger"></span>-->
                            </div>

                            <div>
                                <br>
                                <label for="username"><b>Username </b></label>
                                <input type="text" name="username" placeholder="Username">
                                <!-- <span asp-validation-for="passwordReg" class="text-danger"></span>-->
                            </div>
                            <div>
                                <br>
                                <label for="email"><b>Email </b></label>
                                <input type="text" name="emailReg" placeholder="Email">
                                <!-- <span asp-validation-for="passwordReg" class="text-danger"></span>-->
                            </div>
                            <div>
                                <br>
                                <label for="password"><b>Password </b></label>
                                <input type="password" name="passwordReg" placeholder="Password">
                                <!-- <span asp-validation-for="passwordReg" class="text-danger"></span>-->
                            </div>
                            <div>
                                <br>
                                <label for="password"><b>Confirmar Password </b></label>
                                <input type="password" name="passwordReg" placeholder="Confirmar Password">
                                <!-- <span asp-validation-for="passwordReg" class="text-danger"></span>-->
                            </div>
                            <center style="padding-top:2em">
                                <a id="botao" class="button" asp-action="EditarDados" asp-route-id="@User.Claims.ElementAt(2).Value"><b>CONFIRMAR</b></a>
                            </center>
                        </form>
                    </div>
                    <div class="col-md-3">

                    </div>                        
                </div>
            </div>
        </div>
    </div>
</body>

