
@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-group button {
        background-color: white;
        border: 1px solid whitesmoke;
        color: black;
        padding: 10px 24px;
        cursor: pointer;
        display: block;
        width: 250px;
        font-family: 'Century Gothic';
    }
    .btn-group button:hover {
            background-color: whitesmoke;
    }
</style>

<body>
    <div class="text-center" style="color:black; font-family: 'Century Gothic'; background-color:whitesmoke; padding-top: 1em; padding-bottom: 1em; margin-bottom: 20px;">
        <p style="font-size: 40px; "><b><span>ÁREA CLIENTE</span></b></p>
        <p style="font-size: 20px; "><span>Bem-vindo à sua área de cliente, <b>@User.Claims.ElementAt(1).Value</b>!</span></p>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom: 2em;">
            <div class="btn-group">
                <div class="col-md-3">
                    <button><b>Dados Pessoais</b></button>
                    <a asp-action="MinhasEncomendas"><button><b>Minhas Encomendas</b></button></a>
                    <button><b>Meus Produtos</b></button>
                    <button><b>Meus Favoritos</b></button>
                    <button><b>Meus Comentários</b></button>
                    <button><b>Minhas Mensagens</b></button>
                    <button><b>Minhas Avaliações</b></button>
                    <a asp-action="Logout"><button style="color:red" ;><b>Terminar Sessão</b></button></a>
                </div>
            </div>


            <div class="col-md-9" style="border: 1px solid whitesmoke;">
                <center>
                    <p style="font-size: 15px;"><span><b>Acompanhe o progresso das suas últimas compras!</b></span></p>
                </center>

                <div class="row">

                </div>

                <div class="row">
                    <div class="col-md-5">
                        <p style="font-size: 25px; text-align: center; margin-top: 5px"><b><span>Artigo de Blog</span></b></p>
                        <center>
                            <img src="~/images/artigoBlogOpcao.png" width="350" height="255">
                        </center>
                        <p style="font-size: 19px; text-align: center; margin-top: 5px"><b><span>Criação de 4 textos de 500 palavras</span></b></p>
                    </div>
                    <div class="col-md-4">
                        <p style="font-size: 19px; text-align: center; margin-top: 5px"><span>O seu artigo de blog está neste momento 
                                                                                            a ser produzido pelos nossos redatores.</span></p>
                    </div>
                </div>              
            </div>
        </div>
    </div>
</body>
