@{
    ViewData["Title"] = "Index";
}

<style>
    .btn-group button {
        background-color: white;
        border: 1px solid whitesmoke;
        color: black;
        padding: 10px 24px;
        cursor: pointer;
        display: block;
        width: 250px;
        font-family: 'Century Gothic';
    }
    .btn-group button:hover {
            background-color: whitesmoke;
    }
</style>

<body>
    <div class="text-center" style="color:black; font-family: 'Century Gothic'; background-color:whitesmoke; padding-top: 1em; padding-bottom: 1em; margin-bottom: 20px;">
        <p style="font-size: 40px; "><b><span>ÁREA CLIENTE</span></b></p>
        <p style="font-size: 20px; "><span>Bem-vindo à sua área de cliente, <b>@User.Claims.ElementAt(1).Value</b>!</span></p>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom: 2em;">
            <div class="btn-group">
                <div class="col-md-3">
                    <a asp-action="DadosPessoais"><button ><b>Dados Pessoais</b></button></a>
                    <a asp-action="MinhasEncomendas"><button style="background-color:whitesmoke"><b>Minhas Encomendas</b></button></a>
                    <button><b>Meus Produtos</b></button>
                    <button><b>Meus Favoritos</b></button>
                    <button><b>Meus Comentários</b></button>
                    <button><b>Minhas Mensagens</b></button>
                    <button><b>Minhas Avaliações</b></button>
                    <a asp-action="Logout"><button style="color:red" ;><b>Terminar Sessão</b></button></a>
                </div>
            </div>
            <div class="col-md-9" style="border: 1px solid whitesmoke; padding-bottom:1em; font-family: 'Century Gothic';">
                <div class="row" style="font-size: 20px; text-align: center">
                    <div class="col-md-12">
                        <center>
                            <p style="font-size: 20px;"><span><b>Encomenda X</b></span></p>
                        </center>
                    </div>
                </div>

                <div class="row" style="text-align: center; font-size: 20px;">
                    <div class="col-md-4" style="padding-top: 1em;">
                        <center>
                            <img src="~/images/artigoBlogOpcao.png" width="200" height="150" padding-right="100">
                        </center>
                    </div>
                    <div class="col-md-4" style=" margin-top: 2em">
                        <p><b><span>Artigo de blog </span></b></p>
                        <p><span>Criação de 4 textos de 500 palavras</span></p>
                    </div>
                    <div class="col-md-4" style="margin-top:1em">
                        <p style="margin-top: 3em"><span>300€</span></p>
                    </div>
                </div>
                <hr />
                <div class="row" style="text-align: center; font-size: 20px;">
                    <div class="col-md-4">
                        <center>
                            <img src="~/images/artigoBlogOpcao.png" width="200" height="150" padding-right="100">
                        </center>
                    </div>
                    <div class="col-md-4" style=" margin-top: 1em">
                        <p><b><span>Artigo de blog </span></b></p>
                        <p><span>Criação de 4 textos de 500 palavras</span></p>
                    </div>
                    <div class="col-md-4" style="margin-top: 3em">
                        <p><span>300€</span></p>
                    </div>
                </div>
                <hr />
                <div class="row" style="font-size: 20px; text-align: center; padding-top: 1em">
                    <div class="col-md-12">
                        <center>
                            <p style="font-size: 20px;"><span><b>Dados de Faturação</b></span></p>
                        </center>
                    </div>
                </div>
                <div class="row" style="font-size: 15px; text-align: left">
                    <div class="col-md-6">
                        <p><span><b>Nome: </b> XXXX</span></p>
                        <p><span><b>Email: </b> XXXXXXXXXXXXXXX</span></p>
                        <p><span><b>Morada: </b> XXXXXXXXXXXXXXXXX</span></p>
                    </div>
                    <div class="col-md-6">
                        <p><span><b>NIF: </b> XXXX</span></p>
                        <p><span><b>Nº de Telemóvel: </b> XXXXXXXXXXXXXXX</span></p>
                        <p><span><b>Total: </b> XXXXXXXXXXXXXXX</span></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

