@model LoginRegistarView
@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .bar {
            padding-top: 100px;
            padding-bottom: 100px;
            color: white;
            background-color: rgba(67,67,67,1);
            font-family: 'Century Gothic';
            line-height: 100%;
        }
        input[type=submit] {
            width: 15%;
            background-color: rgb(153,153,153);
            color: white;
            padding: 6px 6px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: rgb(120,120,120);
        }
        #conta:hover {
            background-color: whitesmoke;
            border-radius: 4px;
        }
        #botao {
            background-color: white;
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            display: block;
            width: 110px;
        }

        #botao1 {
            background-color: white;
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            width: 50%;
            display: block;
        }
        #botao2 {
            background-color: rgba(67,67,67,1);
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            display: block;
            width: 130px;
        }
        .barslide {
            padding-top: 50px;
            padding-bottom:50px;
            color: white;
            background-color: rgb(242,242,242);
            font-family: 'Century Gothic';
            line-height: 100%;
        }
        .textbar {
            float: left;
            margin: 0 20px 20px 0;
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid grey;
            border-radius: 4px;
        }

        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid grey;
            border-radius: 4px;
        }

    </style>

    <body>
        <div class="container" style="background-color: white">
            <div class="row" style="padding-bottom: 1em;padding-top:1em">
                <div class="col-md-6" id="conta" style="padding-top: 2em;border-right: 1px solid grey;height: 900px;">
                    <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>CLIENTES REGISTADOS</span></b></p>
                    <form method="post">
                        <div>
                            <label for="email"><b>Email </b></label>
                            <input type="text" name="email" asp-for="email" placeholder="Email">
                            <span asp-validation-for="email" class="text-danger"></span>
                        </div>
                        <div>
                            <br>
                            <label for="password"><b>Password </b></label>
                            <input type="password" name="password" asp-for="password" placeholder="Password">
                            <span asp-validation-for="password" class="text-danger"></span>
                        </div>
                        <div>
                            <input type="checkbox" data-val="true" asp-for="sessao" id="sessao" name="sessao" value="true" /> Manter sessão iniciada.
                            <input name="sessao" type="hidden" value="false">
                        </div>
                        <div>
                            <input type="submit" value="Entrar" asp-action="Login">
                        </div>
                    </form>
                    <div class="row" style="padding-top: 9em; padding-left: 8em;">
                        <b>É Produtor ou Content Manager? <u><a asp-controller="LoginRegister" asp-action="LoginCMProducer" ; style="color: black; font-size: 16px;">Clique aqui</a></u></b>
                    </div>
                </div>

                <div class="col-md-6" id="conta" style="padding-top: 2em;border-left: 1px solid grey;height: 900px;">
                    <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>NOVOS CLIENTES</span></b></p>
                    <form method="post">
                        <div>
                            <label for="username"><b>Username </b></label>
                            <input type="text" name="username" asp-for="username"  placeholder="Username">
                            <span asp-validation-for="username" class="text-danger"></span>
                        </div>
                        <div>
                            <br>
                            <label for="nome"><b>Nome </b></label>
                            <input type="text" name="nome" asp-for="nome"  placeholder="Nome">
                            <span asp-validation-for="nome" class="text-danger"></span>
                        </div>
                        <div>
                            <br>
                            <label for="email"><b>Email </b></label>
                            <input type="text" name="emailReg" asp-for="emailReg"  placeholder="Email">
                            <span asp-validation-for="emailReg" class="text-danger"></span>
                        </div>
                        <div>
                            <br>
                            <label for="password"><b>Password </b></label>
                            <input type="password" name="passwordReg" asp-for="passwordReg"  placeholder="Password">
                            <span asp-validation-for="passwordReg" class="text-danger"></span>
                        </div>
                        <div>
                            <input type="checkbox" data-val="true" asp-for="termos" id="termos" name="termos" value="true" /> Li e compreendi a informação sobre a utilização dos meus dados pessoais explicada na Política de privacidade.
                            <input name="termos" type="hidden" value="false">
                        </div>
                        <span asp-validation-for="termos" class="text-danger"></span>
                        <div class="buttonCreate" style="width:1000px;height:80px;">
                            <input type="submit" value="Criar conta" asp-action="Registar">
                        </div>
                    </form>
                </div>
                </div>
            </div>
           </body>