@model LoginRegistarView
@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .bar {
            padding-top: 100px;
            padding-bottom: 100px;
            color: white;
            background-color: rgba(67,67,67,1);
            font-family: 'Century Gothic';
            line-height: 100%;
        }
        input[type=submit] {
            width: 15%;
            background-color: rgb(153,153,153);
            color: white;
            padding: 6px 6px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: rgb(120,120,120);
        }
        #conta:hover {
            background-color: whitesmoke;
            border-radius: 4px;
        }
        #botao {
            background-color: white;
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            display: block;
            width: 110px;
        }

        #botao1 {
            background-color: white;
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            width: 50%;
            display: block;
        }
        #botao2 {
            background-color: rgba(67,67,67,1);
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            display: block;
            width: 130px;
        }
        .barslide {
            padding-top: 50px;
            padding-bottom:50px;
            color: white;
            background-color: rgb(242,242,242);
            font-family: 'Century Gothic';
            line-height: 100%;
        }
        .textbar {
            float: left;
            margin: 0 20px 20px 0;
        }

        input[type=text], select {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid grey;
            border-radius: 4px;
        }

        input[type=password] {
            width: 100%;
            padding: 12px 20px;
            margin: 8px 0;
            box-sizing: border-box;
            border: 1px solid grey;
            border-radius: 4px;
        }

    </style>

    <body>
        <div class="container" style="background-color: white">
            <div class="row" style="padding-bottom: 1em;padding-top:1em">
                <div class="col-md-6" id="conta" style="padding-top: 2em;">
                    <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>CLIENTES REGISTADOS</span></b></p>
                    <form method="post">
                        <div>
                            <label for="email"><b>Email </b></label>
                            <input type="text" name="email" placeholder="Email" asp-for="email">
                        </div>
                        <div>
                            <br>
                            <label for="password"><b>Password </b></label>
                            <input type="password" name="password" placeholder="" asp-for="email">
                        </div>
                        <div>
                            <input type="checkbox" name="sessao" value="sessao" /> Manter sessão iniciada
                        </div>
                        <div>
                            <input type="submit" value="Entrar">
                        </div>
                    </form>
                </div>

                <div style="padding-top: 2em; border-left: 6px solid green; height: 500px;">

                </div>

                <div class="col-md-6" id="conta" style="padding-top: 2em;">
                        <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>NOVOS CLIENTES</span></b></p>
                        <form method="post">
                            <div>
                                <label for="nome"><b>Nome </b></label>
                                <input type="text" name="email" placeholder="Ex.:" asp-for="nome">
                            </div>
                            <div>
                                <br>
                                <label for="morada"><b>Morada </b></label>
                                <input type="text" name="morada" placeholder="Ex.:  Campo Grande 376, 1749-024 Lisboa" asp-for="morada">
                            </div>
                            <div>
                                <br>
                                <label for="email"><b>Email </b></label>
                                <input type="text" name="email" placeholder="Email" asp-for="email">
                            </div>
                            <div>
                                <br>
                                <label for="password"><b>Password </b></label>
                                <input type="password" name="password" placeholder="" asp-for="password">
                            </div>
                            <div>
                                <input type="checkbox" name="sessao" value="sessao" /> Li e compreendi a informação sobre a utilização dos meus dados pessoais explicada na Política de privacidade
                            </div>
                            <div class="buttonCreate" style="width:1000px;height:80px;">
                                <input type="submit" value="Criar conta" asp-action="Registar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
    </body>