@model MensagemProdutor
@{
    ViewData["Title"] = "Index";
}

<style>

</style>

<body>
    <div class="text-center" style="color:black; font-family: 'Century Gothic'; background-color:whitesmoke; padding-top: 1em; padding-bottom: 1em; margin-bottom: 20px;">
        <p style="font-size: 40px; "><b><span>ÁREA PRODUTOR</span></b></p>
        <p style="font-size: 20px; "><span>Bem-vindo à sua área, <b>@User.Claims.ElementAt(1).Value</b>!</span></p>
    </div>

    <div class="container">
        <div class="row" style="padding-bottom: 2em;">
            <div class="btn-group">
                <div class="col-md-3">
                    <a asp-action="ProjetosAtuais"><button><b>Projetos Atuais</b></button></a>
                    <a asp-action="ProjetosEmAprovacao"><button><b>Projetos Em Aprovação</b></button></a>
                    <a asp-action="ProjetosFinalizados"><button><b>Projetos Finalizados</b></button></a>
                    <a asp-action="Mensagens"><button  style="background-color:whitesmoke"><b>Minhas Mensagens</b></button></a>
                    <a asp-action="Logout"><button style="color:red" ;><b>Terminar Sessão</b></button></a>
                </div>
            </div>
            <div class="col-md-9" style="border: 1px solid whitesmoke; padding-bottom:1em;">
                <div class="row" style="font-size: 20px; text-align: center; font-family: 'Century Gothic'">
                    <div class="col-md-12">
                        <center>
                            <p style="font-size: 20px;"><span><b>Assunto: @Model.assunto</b></span></p>
                        </center>
                    </div>
                </div>
                <div class="row" style="text-align: center; font-size: 20px;">
                    <div class="col-md-12" style="padding-top: 1em;">
                        <p><span>@Model.textoMensagem</span></p>
                    </div>        
                </div>
            </div>
        </div>
    </div>
</body>