@model IEnumerable<Account>

<h3 class="text-center" style="margin-top:20px;margin-bottom:20px;">CONTAS</h3>

<table class="table table-bordered table-sm table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>EMAIL</th>
            <th>PASSWORD</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="7" class="text-center">No Model Data</td>
            </tr>
        }
        else
        {
            @foreach (var p in Model)
            {
                <tr>
                    <td style="text-align:center">@p.id</td>
                    <td style="text-align:center">@p.email</td>
                    <td style="text-align:center">@p.password</td>
                </tr>
            }
        }
    </tbody>
</table>