@model Account
@{
    ViewData["Title"] = "Home Page";
}

    <style>
        .bar {
            padding-top: 100px;
            padding-bottom: 100px;
            color: white;
            background-color: rgba(67,67,67,1);
            font-family: 'Century Gothic';
            line-height: 100%;
        }

        input[type=text], select {
            width: 15%;
            padding: 6px 20px;
            margin: 8px 0;
            display: inline-block;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type=submit] {
            width: 15%;
            background-color: rgb(153,153,153);
            color: white;
            padding: 6px 6px;
            margin: 8px 0;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        input[type=submit]:hover {
            background-color: rgb(120,120,120);
        }
        #produto:hover {
            background-color: whitesmoke;
        }
        #botao {
            background-color: white;
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            display: block;
            width: 110px;
        }

        #botao1 {
            background-color: white;
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            width: 50%;
            display: block;
        }
        #botao2 {
            background-color: rgba(67,67,67,1);
            font-family: 'Century Gothic';
            border-radius: 8px;
            border: 2px solid #ff01f2;
            padding-right: 1em;
            padding-left: 1em;
            color: black;
            display: block;
            width: 130px;
        }
        .barslide {
            padding-top: 50px;
            padding-bottom:50px;
            color: white;
            background-color: rgb(242,242,242);
            font-family: 'Century Gothic';
            line-height: 100%;
        }
        .textbar {
            float: left;
            margin: 0 20px 20px 0;
        }
    </style>

    <body>
        <div class="text-center" style="color:rgb(102,102,102); font-family: 'Century Gothic'; font-size: 40px;padding-top:1em">
            <p><span><b>NOVOS PRODUTOS</b></span></p>
        </div>

        <div class="container" style="background-color: white">
            <div class="row" style="padding-bottom: 2em;">
                <div class="col-md-6" id="produto" style="padding-top: 2em;">
                    <center>
                        <img src="~/images/audiobook.png" width="222" height="255" padding-right="100">
                    </center>
                    <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>Audiobook</span></b></p>
                    <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>5.0</span></b><img src="~/images/star.png" width="20" height="20" style="margin-left:5px; margin-bottom: 6px;"></p>
                    <center>
                        <a id="botao" class="button" style="font-family: 'Century Gothic'; "><b>VER MAIS</b></a>
                    </center>
                </div>
                <div class="col-md-6" id="produto" style="padding-top: 2em;">
                    <center>
                        <img src="~/images/viedomarketing.jpg" width="432" height="255">
                    </center>
                    <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>Video Marketing</span></b></p>
                    <p style="font-size: 20px; text-align: center; margin-top: 5px"><b><span>5.0</span></b><img src="~/images/star.png" width="20" height="20" style="margin-left:5px; margin-bottom: 6px;"></p>
                    <center>
                        <a id="botao" class="button" style="font-family: 'Century Gothic'; "><b>VER MAIS</b></a>
                    </center>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="bar col-md-6" style="font-size: 36px; padding-left:10%">
                <p><b>Veja o vídeo e conheça </b></p>
                <p><b>como funciona o Content</b></p>
                <p><b>Marketplace Platform</b></p>
            </div>
            <div class="bar col-md-6">
                <div style="margin-bottom:3%">
                    <center>
                        <img src="~/images/video.png" width="100" height="100">
                    </center>
                </div>
                <div>
                    <center>
                        <a id="botao2" class="button" style="font-family: 'Century Gothic'; color: white"><b>VER AGORA</b></a>
                    </center>
                </div>
            </div>
        </div>
        <div class="container" style="background-color: white">
            <div class="row" style="color:rgb(102,102,102); font-family: 'Century Gothic'; padding-top: 100px;">
                <div class="col-md-6">
                    <img src="~/images/ebookhome.png" width="477" height="284" style="right:0px">
                </div>
                <div class="col-md-6" style="padding-left: 50px;  padding-top: 70px; text-align: left">
                    <div style="font-size: 30px; line-height: 20%;">
                        <p><b> BESTSELLER</b></p>
                    </div>
                    <div style="font-size:25px;">
                        <p><b> Ebook </b></p>
                    </div>
                    <div style="font-size:15px;">
                        <p>Um livro digital que pode ser lido em qualquer equipamento eletrónico</p>
                    </div>
                    <a id="botao1" class="button" style="        font-family: 'Century Gothic';
        text-align: center;"><b>VER MAIS</b></a>
                </div>
            </div>
        </div>

        <div class="text-center" style="color:rgb(102,102,102); font-family: 'Century Gothic'; padding-top: 100px; padding-bottom: 100px;">
            <form method="post">
                <div>
                    <label for="email"><b> Junte-se à nossa newsletter </b></label>
                </div>
                <div>
                    <input type="text" name="email" placeholder="Email" asp-for="email">
                </div>
                <div>
                    <input type="submit" value="Subscreva">
                </div>
            </form>
        </div>
    </body>

